/* Mini reset for modern browsers */

@import '~@marketgoo/ola/dist/index.css';

html,
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background-color: whitesmoke;
}

#App {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 50px;
}
